

<form>

	<label>Noun:</label>
		<input type="text" ng-model="words.wordModel" placeholder="Enter a noun here">
	
	<label>Adjective:</label>
		<input type="text" ng-model="words.adjectiveModel" placeholder="Enter an adjective here">

	<!--<label>Verb:</label>
		<input type="text" ng-model="verbModel" placeholder="">

	<label>Proper Noun:</label>
		<input type="text" ng-model="" placeholder="">

	<label>Noun:</label>
		<input type="text" ng-model="" placeholder="">

	<label>Noun:</label>
		<input type="text" ng-model="" placeholder="">

	<label>Noun:</label>
		<input type="text" ng-model="" placeholder=""> -->

	<button ng-click="getWords(words)">Add Word</button>

</form>

